<div class="logo">
    <a href="/"><img src="../images/healthy-bites.jpg" alt="healthy bites logo"></a>
</div>
<div class="navbar">
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="#">Make Your Recipe</a></li>
        <li><a href="../recipeByCountry.html">Menu</a></li>
        <li><a href="../about.html">About</a></li>
        <li class="dropdown">
            <button class="dropbtn">Recipes
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Breakfast</a>
                <a href="#">Main Course</a>
                <a href="#">Dessert</a>
                <a href="#">Drinks</a>
            </div>
        </li>
    </ul>
</div>