<div class="logo">
    <img src="../images/healthy-bites.jpg" alt="healthy bites logo" />
    <a href="../index.html"></a>
</div>
<!-- <nav> -->
    <!-- <ul> -->
        <!-- <li><a href="../index.html">Home</a></li> -->
        <!-- <li><a href="../recipe.html">Make Your Recipe</a></li> -->
        <!-- <li><a href="../recipeByCountry.html">Menu</a></li> -->
        <div class="navbar">
            <a href="../about.html">About</a>
            <div class="dropdown">
                <button class="dropbtn">Dropdown
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Breakfast</a>
                    <a href="#">Main Course</a>
                    <a href="#">Dessert</a>
                    <a href="#">Drinks</a>
                </div>
            </div>
        </div>
        <!-- <li><a href="../about.html">About</a></li> -->
    <!-- </ul> -->
<!-- </nav> -->