@media (min-width: 60rem) {
    /* Recipe Right Side */
    body {
        display: flex;
        flex-direction: column;
    }

    .recipeRightSide {
        display: grid;
        grid-template-columns: 80% 20%;
        justify-content: space-around;
        margin: 0 2rem;
    }

    .recipeContainer {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    /* .recipeContainer div{
        border: 2px solid var(--secondary-persianRed);
        border-radius: 2rem;
    } */

    .container {
        margin: 0;
    }

    .container img {
        padding-top: 1.5rem;
    }

    /* Newsletter form */

    /* =======================cards type of meal in homepage==================== */
    section div.product-grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 1rem;
    }
/*     ==========make your ceipe form============== */
    div.makeYourRecipeContainer {
        width: 80%;
    }
    
    div.makeYourRecipeContainer form {
        width: 60%;
    }
    
    div.makeYourRecipeContainer form input,
    div.makeYourRecipeContainer form textarea {
        width: 60%;
    }

    /* Modal Card */

    .modalCard {
        left: 4rem;
    }

    .divSubstitutes {
        left: 13rem;
        top: 0;
    }

    /* Shopping List */

    .containerList {
        flex-direction: row;
        column-gap: 6rem;
    }

    .shoppingList {
        min-width: max-content;
    }
    .recipeContainer {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    /* =============sign up--------------------- */
    div.signUp form, div.login form {
        width: 50%;
    }
    div.floatingImages {
        display: grid;
        grid-template-columns: auto auto;
    }
}