/*///////////THIS IS THE BASE AND MOBILE VIEW//////////////// */
:root {
  --font-body: 'Roboto', sans-serif;
  --font-headline: 'Special Elite', cursive;

  /* colors */
  --primary-yellowGreen: #88db48;
  --secondary-persianRed: #dc5856;
  --accent1-maize: #FDE74C;
  --accent2-aero: #5BC0EB;
  --accent3-ivory: #f7f7ef;
  --accent4-black: #000000;

  --light-grey: #d0d0d0;
  --dark-grey: #303030;
  /* sizes */
  --font-size-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
  /* =======measure base for the bubbles========== */
  --measure-base: 7rem;
}

#root, div {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  line-height: 2rem;
  max-width: 100%;
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  color: var(--dark-grey);
  background-color: ivory;
}

h1, h2 {
  font-family: var(--font-body)
}

h3, h4, h5, h6 {
  font-family: var(--font-headline)
}

img {
  max-width: 100%;
}

/* don't display other pages on main page at the beginning */
.recipeType, .recipeDetails, .recipeAbout {
  display: none;
}

header#main-header {
  max-width: 100%;
  color: white;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: var(--primary-yellowGreen);
}

div.logo {
  max-width: 7rem;
  max-height: 6rem;
  transition: all 0.5s ease-in-out;
}

div.logo:hover { 
  cursor: pointer;
  transform: scaleX(1.1);
  transition: all 0.5s ease-in-out;
}

.logo img {
  max-width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent3-ivory);
  padding: 0;
  margin: 0;
  position: relative;
}

.hero img {
  max-width: 100%;
}

/* Style the search bar container */
.searchContainer {
  /* position: relative; */
  display: inline-block;
  margin: 10px;
  position: absolute;
  top: 500px; /* adjust this value to position the search bar vertically */
  left: 100px; /* adjust this value to position the search bar horizontally */
}

/* Style the search input */
.searchInput {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 200px;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* .titleHero {
position: absolute;
top: 1rem;
color: rgb(255, 132, 0);
font-family: var(--font-headline);
text-shadow: 1px 1px 0px #fff;
} */

/* Food-grid section home page */
.food-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: .5rem;
  margin: 1rem;
}

.food-grid div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-align: center;
  font-size: .7rem;
  border: 1px solid var(--light-grey);
  border-radius: 2rem;
  box-shadow: 1px 1px 0.5px 0.5px var(--light-grey);
}

/* Newsletter */
.newsletterContainer {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
}

/* Inspirational quote */
div.quote {
    background-image: linear-gradient(90deg, #b5ff7c, #fff189);
    background-size: 400% 400%;
    animation: rotateColor 5s ease infinite;
    /* max-width: 30em; */
    margin: 1.5rem 1rem;
    text-align: center;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: solid var(--dark-grey);
    border-radius: 2rem;
    /* add box shadow to appear a card */
    box-shadow: 1px 1px 0.5px 0.5px var(--dark-grey);
}

.quote img {
  display: none;
}

section.mission {
  text-align: center;
  color: white;
  font-weight: 400;
  background-color: tomato;
  border: solid var(--dark-grey);
  border-radius: 2rem;
  /* add box shadow to appear a card */
  box-shadow: 1px 1px 0.5px 0.5px var(--dark-grey);
  padding: 1rem 1.5rem;
  margin: 1.5rem 1rem;
}

section.mission p {
margin: 0;
}

@keyframes rotateColor {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 100% 0;
  }
}

.navbar {
display: flex;
justify-content: space-around;
align-items: center;
background-color: var(--primary-yellowGreen);
padding: 10px;
width: 100%;
/* display: none; */
}

.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar li {
  margin-right: 20px;
  position: relative;
  transition: all 0.5s ease;
}

.navbar li a {
  font-size: 1rem;
}

.navbar li:hover, .dropbtn:hover, .dropdown a:hover {
  background-color: var(--accent1-maize);
  border-radius: 2rem 1rem;
  transition: all 0.5s ease;
  border: var(--dark-grey) .5px solid;
}

/* Dropdown button
.dropdown .dropbtn {
    /* font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;  */
    /* Important for vertical align on mobile phones */
 

.navbar a {
  display: block;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-yellowGreen);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
  margin: 0;
  border-radius: 2rem 1rem;
}

.dropdown-content a {
  display: block;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: var(--primary-yellowGreen);
  color: #333;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.fa-caret-down {
  margin-left: 5px;
}

/* Main content styles */
.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"], input[type="email" i], textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

button[type="submit"] {
  display: block;
  margin-top: 1rem;
  padding: 0.7rem;
  background-color: #88db48;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #555;
}

/* Footer styles */
#main-footer {
  background-color: var(--primary-yellowGreen);
  color: #fff;
  padding: 1rem;
  text-align: center;
}

h1::before {  
transform: scaleX(0);
transform-origin: bottom right;
}

h1:hover::before {
transform: scaleX(1);
transform-origin: bottom left;
}

h1::before {
content: " ";
display: block;
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
inset: 0 0 0 0;
background: hsl(200 100% 80%);
z-index: -1;
transition: transform .3s ease;
}

h1 {
  position: relative;
  font-size: 5rem;
}

@media (orientation: landscape) {
body {
  grid-auto-flow: column;
}
}

/* ------------------testimonials---------------------- */
div#testimonialsMainContainer {
  padding: 1rem;
}

div.customerTestimonial {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1rem;
  border: solid var(--dark-grey);
  border-radius: 2rem;
  box-shadow: 1px 1px 0.5px 0.5px var(--dark-grey);
  background-color: rgb(41, 162, 173);
  color: white;
  max-width: 97%;
}

.customerTestimonial p, .customerTestimonial h3 {
margin: 0;
}

.customerTestimonial h3 {
font-weight: bold;
font-size: 1.3rem;
}

.testimonialsTitle {
font-size: 2rem;
font-weight: bold;
text-align: center;
margin: 1rem;
}

div.testimonial {
margin-top: 3rem;
}

/* =======================cards type of meal in homepage==================== */
section.products {
  max-width: 100%;
}

section h2 {
  text-align: center;
  font-size: 2rem;
}

section div.product-grid {
  max-width: 97%;
  display: flex;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
  align-items: center;
}

div.cardProduct {
  min-width: 40%;;
  background-color: lightgray;
  border: 1px solid var(--dark-grey);
  border-radius: 3rem 1rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 0.5px 0.5px var(--dark-grey);
}

div.cardProduct h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

div.cardProduct a {
  max-width: 50%;
}

div.cardProduct img{
  width: 100%;
}

/* ====================card recipe in the homepage========== */
div.recipeContainer {
  max-width: 100%;
  padding: 1rem;
}

div.container {
  max-width: 97%;
  /* card apperance */
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 3rem 1rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 0.5px 0.5px var(--dark-grey);
  text-align: center;
}

div.container h3 {
  text-align: center;
  font-size: 1.6rem;
}

div.container a {
  /* beautiful buttom */
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

div.container a:hover {
  background-color: #555;
  transition: all 0.3s ease;
}

div.container img {
  border-radius: 15rem;
  width: 50%;
}

div.recipeCardImgContainer {
  max-width: 100%;
  max-height: 19rem;
  overflow: hidden;
  border-radius: 3rem 1rem;
}

div.recipeCardImgContainer img {
  width: 100%;
}

div.divInfo {
  display: flex;
  column-gap: 1rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

/* =======================good nutrition page========================== */
div.ContainerForUl {
  padding: 1rem;
  display: block;
}

ul.goodNutrients {
  position: relative;
  list-style: none;
  margin-bottom: calc(var(--measure-base) * 6.5);
}

ul.goodNutrients .nutrient {
  position: absolute;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  z-index: 1;
}

/* ==============starts---bubbles============ */
ul.goodNutrients .nutrient.color1 {
  background-color: #ff5252;
  top: 0;
  left: 0;
}

ul.goodNutrients .nutrient.color2 {
  background-color: #ff9800;
  top: var(--measure-base);
  left: calc(var(--measure-base) + 3rem);
}

ul.goodNutrients .nutrient.color3 {
  background-color: #ffeb3b;
  top: calc(var(--measure-base) * 2);
  left: 0;
}

ul.goodNutrients .nutrient.color4 {
  background-color: #4caf50;
  top: calc(var(--measure-base) * 3);
  left: calc(var(--measure-base) + 3rem);
}

ul.goodNutrients .nutrient.color5 {
  background-color: #2196f3;
  top: calc(var(--measure-base) * 4);
  left: 0;
}

ul.goodNutrients .nutrient.color6 {
  background-color: #9c27b0;
  top: calc(var(--measure-base) * 5);
  left: calc(var(--measure-base) + 3rem);
}
/* ======================ends bubbles====================== */

.goodNutrients li:nth-child(even):hover {
  transform: rotate(360deg);
  transform: scale(1.5);
  transition: all 0.4s ease;
}

.goodNutrients li:hover {
  transform: rotate(-360deg);
  transition: all 0.4s ease;
}

.goodNutrients li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goodNutrients li p {
  font-size: 1rem;
  margin: 0;
  color: white;
  text-align: center;
  position: relative;
  top: 2.6rem;
}

/* Render Recipe Details */
.pageDetails {
  margin: 5rem auto;
  max-width: 90%;
}

.titleRecipe {
  line-height: 5rem;
  text-align: center;
  font-size: 4rem;
}

.generalInfoRecipe {
  display: grid;
  grid-template-columns: repeat(auto-fill, 15rem);
  justify-content: space-evenly;
  text-align: center;
}

.generalInfo {
  padding: 1rem;
  background-image: url('/src/images/cloud.png');
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: center;
}

.imageRecipe{
  border-radius: 10rem;
  box-shadow: 0 4px 3rem 0 rgba(0, 0, 0, 0.2), 0 6px 5rem 0 rgba(25, 33, 22, 0.682);
}

.containerImg {
  max-width: fit-content;
}

.dietsDiv, .cuisinesDiv {
  align-items: center;
  max-width: fit-content;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
}

.containerInfo, .cuisinesDiet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 3rem;
}

.dietsRecipeList, .cuisinesRecipeList {
  padding: 1rem;
}

.nutrientsPerServingDiv a, .divLast a{ 
  text-decoration: none;
  color: var(--dark-grey);
}

.containerInstructionsTitle {
  margin-top: 5rem;
}

.recipeInstructions {
  margin: 0 auto;
  /* width: 70%; */
}

.divingredients, .divequipment {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-evenly;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 15rem);
  justify-content: center;
  align-items: end; */
}

.div2ingredients, .div2equipment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  min-width: max-content;
  text-align: center;
  position: relative;
  margin: 3rem 1rem;
}

.analyzedInstructionsElement, .shoppingList, .messageError {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 0.2rem 0 rgba(117, 116, 97, 0.9);

}

.messageError {
  margin:1rem auto;
  width: fit-content;
}

.alertMessage{
  display: flex;
  flex-direction: row;
}

.ingredientsListClassName {
  margin: 0;
  margin-bottom: 3rem;
}

@keyframes rotateImage {
  0%    { rotate: 0deg;  }
  50%   { rotate: 5deg;  }
  75%   { rotate: -5deg; }
  100%  { rotate: 0deg;  }
}

/* Print Recipe  */
.links {
  margin: 5rem auto;
  display: flex;
  max-width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
}

.recipeCard {
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(117, 116, 97, 0.9);
  border-radius: 10%;
  background-color: white;
  padding: 5rem;
  margin: 5rem auto;
  justify-content: center;
  width: fit-content;
}

.containerList {
  display: flex;
  flex-direction: column-reverse;
}

.quantityShoppingList {
  border: none;
  background-color: transparent;
  height: fit-content;
  margin: 0;
}

.shoppingList {
  margin: 8rem auto;
  background-color: #eef0d7;
  max-width: fit-content;
}

.divSL {
  display: flex;
  flex-direction: column;
}

.divButtons {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  align-items: center;
  margin-bottom: 3rem;
}

.nameShoppingList {
  font-size: 1.3rem;
  margin-left:0.4rem;
}

.divInfoList {
  display: flex;
  align-items: center;
}

.deleteShoppingList {
  height: fit-content;
}

/* ========================= ABOUT PAGE ===================== */
.floatingImages .recipeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 5rem auto;
}

.floatingImages .container:nth-child(odd) {
  transform: translateY(-30px);
}

.floatingImages .container:nth-child(even) {
  transform: translateY(30px);
}

.floatingImages .container:last-child {
  transform: translateY(10px);
}

/* Modal Card */
.modalCard {
  border-radius: 2rem;
  box-shadow: 0 4px 3rem 0 rgba(0, 0, 0, 0.2), 0 6px 5rem 0 rgba(25, 33, 22, 0.682);
  background-color:  #f5f5d3;
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: -3rem;
  min-width: min-content;
}

.modalCard img {
  padding: 1rem;
}

.deleteShoppingList {
  border: none;
  background-color: transparent;
}

.deleteShoppingList:hover {
  cursor: pointer;
  border-radius: 5rem;
  box-shadow: 0 1px 1rem 0 rgba(176, 19, 19, 0.9), 0 1px 1rem 0 rgba(176, 19, 19, 0.9);
}

.buttonModal, .nutrientsPerServingDiv, .ingredientsListClassName, .buttoD, .buttonList, .printButton{
  padding: 15px 25px;
  margin: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #edf1be;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 9px #999;
  text-align: center;
}

.nutrientsPerServingDiv {
  padding: 25px 45px;
  border-bottom-right-radius: 70%;
  border-top-left-radius: 70%;
}

.buttonModal:active, .nutrientsPerServingDiv:active, .ingredientsListClassName:active, .buttoD:active, .buttonList:active, .printButton:active{
  background-color:  #e8ef92;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.ingredientsListClassName{
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #d7f4cc;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 9px #999;
  text-align: center;
}

.ingredientsListClassName:active{
  background-color:  #bdefab;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.divButtons button{ 
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 0.9rem 0 rgba(117, 116, 97, 0.9);
}

.divButtons button:active {
  box-shadow: 0 1px 0.9rem 1px rgba(176, 19, 19, 0.9);
}

.instructionsStep, .titleShoppingList {
  border-radius: 3rem;
  background-color:  rgba(235, 230, 73, 0.05);
  box-shadow: 0 1px 2rem 0 rgba(117, 116, 97, 0.9);
  padding: 2rem;
  font-size: 1.3rem;
  color: #444141;
}

.divSubImg {
  display: flex;
  position: relative;
}

.divSubstitutes {
  width: max-content;
  position: absolute;
  border-radius: 2rem;
  box-shadow: 0 4px 3rem 0 rgba(0, 0, 0, 0.2), 0 6px 5rem 0 rgba(25, 33, 22, 0.682);
  background-color:  #f5f5d3;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  left: 0;
  top: 33rem;
}

.divSubstitutes button {
  margin-left: -8rem;
}

.ingredienteSubstitute, .textSubstitute{
  border-radius: 1rem;
  box-shadow: 0 6px 5rem 0 rgba(151, 151, 148, 0.682);
  padding: 0.5rem;
}

/* Print Recipe */
.divPrint {
  display: flex;
  column-gap: 3rem;
  justify-content: space-between;
  font-size: 1rem;
}

.titleListPrint {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

/* ==============form make your recipe=+================= */
div.makeYourRecipeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
  width: 100%;
}

div.makeYourRecipeContainer form {
  /* form look like card */
  border-radius: 2rem;
  box-shadow: 0 4px 1rem 0 rgba(0, 0, 0, 0.2), 0 6px 1rem 0 rgba(25, 33, 22, 0.682);
  /* nice grey background color */
  background-color: #f1f1f1;
  position: relative;
  z-index: 1;
  top: 2rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 2rem 0 0 0;
}

div.makeYourRecipeContainer form input {
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  border-radius: 1rem;
  border: none;
  background-color: rgb(255, 255, 255);
}

div.makeYourRecipeContainer form textarea {
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  height: 10rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(255, 255, 255);
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5rem auto;
}

.buttonsContainer button {
  margin: 1rem;
  padding: 1rem;
  width: 10rem;
  border-radius: 1rem;
  border: none;
  background-color: #333;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  transition: all 0.2s ease-in-out;
}

.buttonsContainer button:hover {
  background-color: #555;
  transition: all 0.2s ease-in-out;
}

.buttonsContainer button:active {
  background-color: #555;
}
