:root {
    --font-body: Arial, Helvetica, sans-serif;
    --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
    /* colors */
    --primary-color: #7AC313;
    --secondary-color: #C3423F;
    --tertiary-color: #FDE74C;
    --light-grey: #d0d0d0;
    --dark-grey: #303030;
  
    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: var(--font-body); /* Arial, Helvetica, sans-serif */
    font-size: var(--font-base); /* 18px */
    color: var(--dark-grey); /* font color */
}

img {
    max-width: 100%;
}

header {
    padding: 18px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
}

.logo {
    display: flex;
}

.logo img {
    height: 80px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

main, footer {
    padding: 18px;
}

.food-grid {
    display: flex;
}

.food-grid div{
    text-align: center;
}